cfs entry for: _7.fld
doc 0
  field 0
    name nome
    type string
    value analisi.txt
  field 1
    name contenuto
    type string
    value L’analisi del testo estrae significato da documenti scritti tramite tecniche di NLP. Comprende tokenizzazione, lemmatizzazione e riconoscimento di entità per individuare temi, sentiment o pattern semantici. È fondamentale per motori di ricerca, chatbot e sistemi di raccomandazione.
doc 1
  field 0
    name nome
    type string
    value ciao a tuTTi.txt
  field 1
    name contenuto
    type string
    value Ciao a tutti! Oggi è una splendida giornata piena di energia e nuove opportunità. Ricordate di affrontare ogni sfida con entusiasmo, curiosità e un sorriso. Ogni piccolo passo può portarci più vicini ai nostri sogni e obiettivi.
doc 2
  field 0
    name nome
    type string
    value elasticsearch.txt
  field 1
    name contenuto
    type string
    value Elasticsearch è un motore di ricerca e analisi distribuito basato su Lucene. Consente indicizzazione in tempo quasi reale e interrogazioni complesse tramite API RESTful. È usato per log analysis, monitoraggio e big data, offrendo scalabilità orizzontale e aggregazioni potenti.
doc 3
  field 0
    name nome
    type string
    value index.txt
  field 1
    name contenuto
    type string
    value Un inverted index è una struttura dati fondamentale per il recupero dell'informazione, usata per ottimizzare le ricerche. Essa mappa ogni termine a un elenco di documenti contenenti quel termine, come nel caso di Apache Lucene, migliorando l'efficienza delle query.
doc 4
  field 0
    name nome
    type string
    value lucene.txt
  field 1
    name contenuto
    type string
    value Apache Lucene è una libreria Java open-source per la ricerca full-text. Fornisce strutture efficienti per indicizzazione e recupero dei documenti tramite inverted index, scoring e ranking. È la base tecnologica di soluzioni come Elasticsearch e Solr, note per velocità e precisione.
doc 5
  field 0
    name nome
    type string
    value retrival.txt
  field 1
    name contenuto
    type string
    value L’information retrieval studia come rappresentare, archiviare e recuperare informazioni pertinenti da grandi collezioni di dati. Combina linguistica computazionale e modelli statistici per ordinare i risultati per rilevanza. È alla base dei motori di ricerca moderni e dei sistemi di raccomandazione.
doc 6
  field 0
    name nome
    type string
    value Come diventare un ingegnere dei dati, Data Engineer?
  field 1
    name contenuto
    type string
    value Sembra che oggigiorno tutti vogliano diventare un Data Scientist  ...
doc 7
  field 0
    name nome
    type string
    value Curriculum Ingegneria dei Dati - Sezione di Informatica e Automazione
  field 1
    name contenuto
    type string
    value Curriculum. Ingegneria dei Dati. Laurea Magistrale in Ingegneria Informatica ...
END
checksum 00000000001082734614
cfs entry for: _7.inf
number of fields 2
  name nome
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name contenuto
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000003080400979
cfs entry for: _7.len
field contenuto
  type NUMERIC
  minvalue 9
  pattern 00
28
T
28
T
30
T
30
T
32
T
31
T
00
T
00
T
END
checksum 00000000003306685261
cfs entry for: _7.pst
field contenuto
  term a
    doc 1
      freq 1
      pos 1
    doc 3
      freq 1
      pos 21
  term affrontare
    doc 1
      freq 1
      pos 16
  term aggregazioni
    doc 2
      freq 1
      pos 37
  term ai
    doc 1
      freq 1
      pos 32
  term alla
    doc 5
      freq 1
      pos 28
  term analisi
    doc 2
      freq 1
      pos 7
  term analysis
    doc 2
      freq 1
      pos 28
  term apache
    doc 3
      freq 1
      pos 33
    doc 4
      freq 1
      pos 0
  term api
    doc 2
      freq 1
      pos 22
  term archiviare
    doc 5
      freq 1
      pos 5
  term basato
    doc 2
      freq 1
      pos 9
  term base
    doc 4
      freq 1
      pos 30
    doc 5
      freq 1
      pos 29
  term big
    doc 2
      freq 1
      pos 31
  term caso
    doc 3
      freq 1
      pos 31
  term chatbot
    doc 0
      freq 1
      pos 32
  term che
    doc 6
      freq 1
      pos 1
  term ciao
    doc 1
      freq 1
      pos 0
  term collezioni
    doc 5
      freq 1
      pos 12
  term combina
    doc 5
      freq 1
      pos 15
  term come
    doc 3
      freq 1
      pos 29
    doc 4
      freq 1
      pos 34
    doc 5
      freq 1
      pos 3
  term complesse
    doc 2
      freq 1
      pos 20
  term comprende
    doc 0
      freq 1
      pos 12
  term computazionale
    doc 5
      freq 1
      pos 17
  term con
    doc 1
      freq 1
      pos 19
  term consente
    doc 2
      freq 1
      pos 12
  term contenenti
    doc 3
      freq 1
      pos 26
  term curiosità
    doc 1
      freq 1
      pos 21
  term curriculum
    doc 7
      freq 1
      pos 0
  term da
    doc 0
      freq 1
      pos 5
    doc 5
      freq 1
      pos 10
  term data
    doc 2
      freq 1
      pos 32
    doc 6
      freq 1
      pos 7
  term dati
    doc 3
      freq 1
      pos 6
    doc 5
      freq 1
      pos 14
    doc 7
      freq 1
      pos 3
  term dei
    doc 4
      freq 1
      pos 20
    doc 5
      freq 2
      pos 30
      pos 36
    doc 7
      freq 1
      pos 2
  term del
    doc 0
      freq 1
      pos 1
  term dell'informazione
    doc 3
      freq 1
      pos 11
  term delle
    doc 3
      freq 1
      pos 37
  term di
    doc 0
      freq 4
      pos 10
      pos 17
      pos 30
      pos 35
    doc 1
      freq 2
      pos 9
      pos 15
    doc 2
      freq 1
      pos 4
    doc 3
      freq 2
      pos 24
      pos 32
    doc 4
      freq 1
      pos 32
    doc 5
      freq 3
      pos 13
      pos 32
      pos 38
  term distribuito
    doc 2
      freq 1
      pos 8
  term diventare
    doc 6
      freq 1
      pos 5
  term documenti
    doc 0
      freq 1
      pos 6
    doc 3
      freq 1
      pos 25
    doc 4
      freq 1
      pos 21
  term e
    doc 0
      freq 2
      pos 15
      pos 33
    doc 1
      freq 3
      pos 11
      pos 22
      pos 35
    doc 2
      freq 4
      pos 6
      pos 18
      pos 30
      pos 36
    doc 4
      freq 4
      pos 18
      pos 26
      pos 36
      pos 41
    doc 5
      freq 3
      pos 6
      pos 18
      pos 35
  term efficienti
    doc 4
      freq 1
      pos 15
  term elasticsearch
    doc 2
      freq 1
      pos 0
    doc 4
      freq 1
      pos 35
  term elenco
    doc 3
      freq 1
      pos 23
  term energia
    doc 1
      freq 1
      pos 10
  term entità
    doc 0
      freq 1
      pos 18
  term entusiasmo
    doc 1
      freq 1
      pos 20
  term essa
    doc 3
      freq 1
      pos 17
  term estrae
    doc 0
      freq 1
      pos 3
  term fondamentale
    doc 0
      freq 1
      pos 27
    doc 3
      freq 1
      pos 7
  term fornisce
    doc 4
      freq 1
      pos 13
  term full
    doc 4
      freq 1
      pos 11
  term giornata
    doc 1
      freq 1
      pos 7
  term grandi
    doc 5
      freq 1
      pos 11
  term i
    doc 5
      freq 1
      pos 23
  term il
    doc 3
      freq 1
      pos 9
  term in
    doc 2
      freq 1
      pos 14
    doc 7
      freq 1
      pos 6
  term index
    doc 3
      freq 1
      pos 2
    doc 4
      freq 1
      pos 24
  term indicizzazione
    doc 2
      freq 1
      pos 13
    doc 4
      freq 1
      pos 17
  term individuare
    doc 0
      freq 1
      pos 20
  term informatica
    doc 7
      freq 1
      pos 8
  term informazioni
    doc 5
      freq 1
      pos 8
  term ingegneria
    doc 7
      freq 2
      pos 1
      pos 7
  term interrogazioni
    doc 2
      freq 1
      pos 19
  term inverted
    doc 3
      freq 1
      pos 1
    doc 4
      freq 1
      pos 23
  term java
    doc 4
      freq 1
      pos 5
  term l'efficienza
    doc 3
      freq 1
      pos 36
  term la
    doc 4
      freq 2
      pos 9
      pos 29
  term laurea
    doc 7
      freq 1
      pos 4
  term le
    doc 3
      freq 1
      pos 15
  term lemmatizzazione
    doc 0
      freq 1
      pos 14
  term libreria
    doc 4
      freq 1
      pos 4
  term linguistica
    doc 5
      freq 1
      pos 16
  term log
    doc 2
      freq 1
      pos 27
  term lucene
    doc 2
      freq 1
      pos 11
    doc 3
      freq 1
      pos 34
    doc 4
      freq 1
      pos 1
  term l’analisi
    doc 0
      freq 1
      pos 0
  term l’information
    doc 5
      freq 1
      pos 0
  term magistrale
    doc 7
      freq 1
      pos 5
  term mappa
    doc 3
      freq 1
      pos 18
  term migliorando
    doc 3
      freq 1
      pos 35
  term modelli
    doc 5
      freq 1
      pos 19
  term moderni
    doc 5
      freq 1
      pos 34
  term monitoraggio
    doc 2
      freq 1
      pos 29
  term motore
    doc 2
      freq 1
      pos 3
  term motori
    doc 0
      freq 1
      pos 29
    doc 5
      freq 1
      pos 31
  term nel
    doc 3
      freq 1
      pos 30
  term nlp
    doc 0
      freq 1
      pos 11
  term nostri
    doc 1
      freq 1
      pos 33
  term note
    doc 4
      freq 1
      pos 38
  term nuove
    doc 1
      freq 1
      pos 12
  term o
    doc 0
      freq 1
      pos 23
  term obiettivi
    doc 1
      freq 1
      pos 36
  term offrendo
    doc 2
      freq 1
      pos 33
  term oggi
    doc 1
      freq 1
      pos 3
  term oggigiorno
    doc 6
      freq 1
      pos 2
  term ogni
    doc 1
      freq 2
      pos 17
      pos 25
    doc 3
      freq 1
      pos 19
  term open
    doc 4
      freq 1
      pos 6
  term opportunità
    doc 1
      freq 1
      pos 13
  term ordinare
    doc 5
      freq 1
      pos 22
  term orizzontale
    doc 2
      freq 1
      pos 35
  term ottimizzare
    doc 3
      freq 1
      pos 14
  term passo
    doc 1
      freq 1
      pos 27
  term pattern
    doc 0
      freq 1
      pos 24
  term per
    doc 0
      freq 2
      pos 19
      pos 28
    doc 2
      freq 1
      pos 26
    doc 3
      freq 2
      pos 8
      pos 13
    doc 4
      freq 3
      pos 8
      pos 16
      pos 39
    doc 5
      freq 2
      pos 21
      pos 25
  term pertinenti
    doc 5
      freq 1
      pos 9
  term piccolo
    doc 1
      freq 1
      pos 26
  term piena
    doc 1
      freq 1
      pos 8
  term più
    doc 1
      freq 1
      pos 30
  term portarci
    doc 1
      freq 1
      pos 29
  term potenti
    doc 2
      freq 1
      pos 38
  term precisione
    doc 4
      freq 1
      pos 42
  term può
    doc 1
      freq 1
      pos 28
  term quasi
    doc 2
      freq 1
      pos 16
  term quel
    doc 3
      freq 1
      pos 27
  term query
    doc 3
      freq 1
      pos 38
  term raccomandazione
    doc 0
      freq 1
      pos 36
    doc 5
      freq 1
      pos 39
  term ranking
    doc 4
      freq 1
      pos 27
  term rappresentare
    doc 5
      freq 1
      pos 4
  term reale
    doc 2
      freq 1
      pos 17
  term recuperare
    doc 5
      freq 1
      pos 7
  term recupero
    doc 3
      freq 1
      pos 10
    doc 4
      freq 1
      pos 19
  term restful
    doc 2
      freq 1
      pos 23
  term retrieval
    doc 5
      freq 1
      pos 1
  term ricerca
    doc 0
      freq 1
      pos 31
    doc 2
      freq 1
      pos 5
    doc 4
      freq 1
      pos 10
    doc 5
      freq 1
      pos 33
  term ricerche
    doc 3
      freq 1
      pos 16
  term riconoscimento
    doc 0
      freq 1
      pos 16
  term ricordate
    doc 1
      freq 1
      pos 14
  term rilevanza
    doc 5
      freq 1
      pos 26
  term risultati
    doc 5
      freq 1
      pos 24
  term scalabilità
    doc 2
      freq 1
      pos 34
  term scientist
    doc 6
      freq 1
      pos 8
  term scoring
    doc 4
      freq 1
      pos 25
  term scritti
    doc 0
      freq 1
      pos 7
  term semantici
    doc 0
      freq 1
      pos 25
  term sembra
    doc 6
      freq 1
      pos 0
  term sentiment
    doc 0
      freq 1
      pos 22
  term sfida
    doc 1
      freq 1
      pos 18
  term significato
    doc 0
      freq 1
      pos 4
  term sistemi
    doc 0
      freq 1
      pos 34
    doc 5
      freq 1
      pos 37
  term sogni
    doc 1
      freq 1
      pos 34
  term solr
    doc 4
      freq 1
      pos 37
  term soluzioni
    doc 4
      freq 1
      pos 33
  term sorriso
    doc 1
      freq 1
      pos 24
  term source
    doc 4
      freq 1
      pos 7
  term splendida
    doc 1
      freq 1
      pos 6
  term statistici
    doc 5
      freq 1
      pos 20
  term struttura
    doc 3
      freq 1
      pos 5
  term strutture
    doc 4
      freq 1
      pos 14
  term studia
    doc 5
      freq 1
      pos 2
  term su
    doc 2
      freq 1
      pos 10
  term tecniche
    doc 0
      freq 1
      pos 9
  term tecnologica
    doc 4
      freq 1
      pos 31
  term temi
    doc 0
      freq 1
      pos 21
  term tempo
    doc 2
      freq 1
      pos 15
  term termine
    doc 3
      freq 2
      pos 20
      pos 28
  term testo
    doc 0
      freq 1
      pos 2
  term text
    doc 4
      freq 1
      pos 12
  term tokenizzazione
    doc 0
      freq 1
      pos 13
  term tramite
    doc 0
      freq 1
      pos 8
    doc 2
      freq 1
      pos 21
    doc 4
      freq 1
      pos 22
  term tutti
    doc 1
      freq 1
      pos 2
    doc 6
      freq 1
      pos 3
  term un
    doc 1
      freq 1
      pos 23
    doc 2
      freq 1
      pos 2
    doc 3
      freq 2
      pos 0
      pos 22
    doc 6
      freq 1
      pos 6
  term una
    doc 1
      freq 1
      pos 5
    doc 3
      freq 1
      pos 4
    doc 4
      freq 1
      pos 3
  term usata
    doc 3
      freq 1
      pos 12
  term usato
    doc 2
      freq 1
      pos 25
  term velocità
    doc 4
      freq 1
      pos 40
  term vicini
    doc 1
      freq 1
      pos 31
  term vogliano
    doc 6
      freq 1
      pos 4
  term è
    doc 0
      freq 1
      pos 26
    doc 1
      freq 1
      pos 4
    doc 2
      freq 2
      pos 1
      pos 24
    doc 3
      freq 1
      pos 3
    doc 4
      freq 2
      pos 2
      pos 28
    doc 5
      freq 1
      pos 27
field nome
  term Come diventare un ingegnere dei dati, Data Engineer?
    doc 6
  term Curriculum Ingegneria dei Dati - Sezione di Informatica e Automazione
    doc 7
  term analisi.txt
    doc 0
  term ciao a tuTTi.txt
    doc 1
  term elasticsearch.txt
    doc 2
  term index.txt
    doc 3
  term lucene.txt
    doc 4
  term retrival.txt
    doc 5
END
checksum 00000000000818603214
table of contents, size: 4
  filename: _7.fld
    start: 22
    end: 2958
  filename: _7.inf
    start: 2980
    end: 3735
  filename: _7.len
    start: 3757
    end: 3888
  filename: _7.pst
    start: 3910
    end: 15157
table of contents begins at offset: 0000000000000015157
